article.skills-area {
    display: flex;
    align-items: center;
    justify-content: center;

    section {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            font-size: 1.6rem;
            margin: 2rem 0;
            letter-spacing: 0.1rem;
        }

        div {
            margin-top: 5rem;
            max-width: 80rem;
            img {
                margin:2rem;
            }
        }
    }

}